
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

#photo-grid {
  /* position: absolute; */
  margin: 2vmax;
  display: flex;
  flex-flow: column nowrap;
}

.photo-grid-row {
  display: flex;
  flex-flow: row nowrap;
}

.photo-grid-img {
  margin: 1vh;
  
}